/public/
/example/cssx/node_modules
/example/cssx/.next

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/example/cssx/.pnp
/example/cssx/.pnp.*
/example/cssx/.yarn/*
!./example/cssx/yarn/patches
!./example/cssx/yarn/plugins
!./example/cssx/yarn/releases
!./example/cssx/yarn/versions

# testing
/example/cssx/coverage

# next.js
/example/cssx/.next/
/example/cssx/out/

# production
/example/cssx/build

# misc
/example/cssx/.DS_Store
/example/cssx/*.pem

# debug
/example/cssx/npm-debug.log*
/example/cssx/yarn-debug.log*
/example/cssx/yarn-error.log*
/example/cssx/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/example/cssx/.env*

# vercel
/example/cssx/.vercel

# typescript
/example/cssx/*.tsbuildinfo
/example/cssx/next-env.d.ts

