/public/
/example/app/.node_modules
/example/app/.next

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/example/app/.pnp
/example/app/.pnp.*
/example/app/.yarn/*
!./example/app/yarn/patches
!./example/app/yarn/plugins
!./example/app/yarn/releases
!./example/app/yarn/versions

# testing
/example/app/coverage

# next.js
/example/app/.next/
/example/app/out/

# production
/example/app/build

# misc
/example/app/.DS_Store
/example/app/*.pem

# debug
/example/app/npm-debug.log*
/example/app/yarn-debug.log*
/example/app/yarn-error.log*
/example/app/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/example/app/.env*

# vercel
/example/app/.vercel

# typescript
/example/app/*.tsbuildinfo
/example/app/next-env.d.ts

/example/app/
